ediarum.avhr.api.articles.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:telota="http://www.telota.de" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD für edition humboldt digital - Datendump &amp; Datenausgabe via API</title>
        <editor>Stefan Dumont <email>dumont@bbaw.de</email></editor>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <ref target="http://www.bbaw.de">Berlin-Brandenburgische Akademie der Wissenschaften</ref>
        </publisher>
      </publicationStmt>
      <sourceDesc>
        <p>Das ediarum zugrundeliegende TEI-XML-Schema basiert weitgehend auf dem Basisformat des Deutschen Textarchivs.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="avhr-api" source="https://raw.githubusercontent.com/telota/ediarum.AVHR.data-model/main/dist/ediarum.avhr.api.compiled.odd" start="TEI">
        <!-- ediarum -->
        <moduleRef key="tei"/>
        <moduleRef key="header" />
        <moduleRef key="core" />
        <moduleRef key="textstructure"/>
        <moduleRef key="figures"/>
        <moduleRef key="linking"/>
        <moduleRef key="msdescription" except="typeDesc"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="textcrit"/>
        <moduleRef key="transcr"/>
        <moduleRef key="gaiji" />
        
        <elementRef key="affiliation" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        
        <elementSpec ident="author" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="replace">
              <valList type="closed">
                <valItem ident="m"/>
                <valItem ident="f"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="head" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="h2"/>
                <valItem ident="h3"/>
                <valItem ident="h4"/>
                <valItem ident="h5"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="replace">
              <valList type="closed">
                <valItem ident="first"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec> 
        
        <elementSpec ident="quote" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="block"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="list" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="unordered"/>
                <valItem ident="ordered"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="p" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="replace">
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
      </schemaSpec>
      
    </body>
  </text>
</TEI>
